<div id="fullpage">
	<div class="section">
		<div class="welcome">
			
			<div class="container">
				<div class="row" id="icon">
					<div class="col-md-7 col-md-offset-2 col-xs-8" id="small-push">
						<%=image_tag "pup.jpg", :class => "dog" %>
						<%=image_tag "title-dog.jpg", :class => "title" %>
					</div>

					<div class="col-md-3 col-md-pull-2 col-xs-3" id="large-push">
						<div class="btn-group btn-group-vertical" role="group" aria-label="...">
						  <div class="btn-group" role="group">
						  	<%=mail_to "ali@swagdogwalking.com" do %> 
						   <button type="button" class="btn btn-info">
						   	Book A Meet and Greet</button></a>
						   	<% end %>
						  </div>
						  <div class="btn-group" role="group">
						    <a href="https://ghostwriteio.typeform.com/to/UgtBof" data-mode="1" target="_blank">
						    	<button type="button" class="btn btn-info">Schedule</button>
						    </a>
						  </div>
						  <a href="#faq">
						  <div class="btn-group" role="group">
						    <button type="button" class="btn btn-info">Learn More</button>
						  </div>
						</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8 col-md-offset-3 col-xs-10 slog">
							<h2>SERVING SOMERVILLE AND CAMBRIDGE</h2>
						</div>
					
						<div class="col-md-8 col-md-offset-3 col-xs-8 col-xs-offset-3 slog" id="slog-lower">
						<h3><%=mail_to "ali@swagdogwalking.com" do %> 
							<span class="left-span-link">BOOK A MEET AND GREET<span>
							<% end %>
							 || <span class="right-span-link"><%= link_to "YOUR DOG'S PROFILE", getstarted_path %></span>
							</h3>
						</div>
				 	</div>
				 </div>	  
			</div>
		</div>
			
	</div>
   
	
 	<a name="availability"></a>
    <div class="section">
    	<div class="calendar">
    		
				<!-- Change the width and height values to suit you best -->
				<div class="typeform-widget" data-url="https://ghostwriteio.typeform.com/to/UgtBof" data-text="Schedule Walk" style="width:100%;height:600px;"></div>
				<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
				<div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;">Powered by <a href="http://www.typeform.com/?utm_campaign=typeform_UgtBof&amp;utm_source=website&amp;utm_medium=typeform&amp;utm_content=typeform-embedded&amp;utm_term=English" style="color: #999" target="_blank">Typeform</a></div>

		</div>
	</div>

	<a name="faq"></a>
	<div class="section">
		<h1>FAQ</h1>
		<div class="container">
			<div class="row">
				<%= render 'faq' %>
			</div>
		</div>
		<a name="servicesandrates"></a>
		<div class="section rates">
			<h1>SERVICES and RATES</h1>
				<div class="container">
					<div class="row">
						<%= render 'servicesrates' %>
					</div>
				</div>
			</div>
			<a name="photos"></a>
			<div class="section photos">
			<h1>Photos</h1>
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-md-offset-2 col-xs-4">

							<%= image_tag "lilp.jpg", :class => 'pierre' %>
						</div>
						<div class="col-md-4 col-xs-4">
							<%= image_tag "snowface.jpg", :class=> 'snowface' %>
						</div>
							
						</div>
					</div>
				</div>
			</div>

			<a name="contact"></a>
			<div class="section rates">
			<h1>Contact</h1>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							
							<p class="paragraph">Swag Dog Walking is owned and operated by me, Ali FitzGerald. I love spending time with my pup, Pierre, and walking around the city of Somerville.</p>
								<br />
							<p class="paragraph">I created Swag Dog Walking to make scheduling your dog's life easy. Swag Dog Walking is a tiny local company, and we will be there for you if your dog only needs that occasional walk, or wants to strut around the city Monday through Friday. We're here to accomodate you and your dog, and to know what you prefer!</p>
							<h2>Questions? Email:</h2>
							<h3><%= mail_to "ali@swagdogwalking.com" %></h3>
							
							
						</div>
					</div>
				</div>
			</div>
	


	</div>


<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>

	

</div>
