<div class="container" id="events">
	<div class="row">
		<div class = "col-md-12">
			<div class="events">

						<%if @event.booked? %>


						This Event has been booked!

						


						<% else %>
				
					



					<% if model_signed_in? %>
                      Welcome, <%= current_model.name %>!

                      <%= form_for (@event) do |f| %>

						<%= f.label "Book" %> : 
						<%= f.check_box :booked, {}, "true", "false" %>
						

						<div id="confirmation">
						
						<h1>Booked!</h1>
						<%= button_to 'Save', reserve_event_path(@event.id), :method => :post, :id => "evt-btn" %> 
						<% end %>
						</div>



				
                      
                      <% else %>

                    <div id="signUp">
                     
                    <h1>SIGN UP TO BOOK NOW!</h1>  
                    <ul class= "signUp">             

					<li><%#= link_to "SIGN IN WITH FACEBOOK", model_omniauth_authorize_path(:facebook) %> 
					<%#= icon('facebook') %> <br /></li>
					
					<li><%= link_to "SIGN UP", new_model_registration_path %>
					<%= icon('thumbs-up') %> <br /></li>
					OR 
					<li><%= link_to "SIGN IN", new_model_session_path %>
					<%= icon('unlock') %> <br /></li>

					</ul>
					</div>

					<% end %>
					

					

					


					
					<div id="autoUpdate">

					
						<p>
						  <strong>Title:</strong>
						  <%= @event.title %>
						</p>

						<p>
						  <strong>Description:</strong>
						  <%= @event.description %>
						</p>

						<p>
						  <strong>Start time:</strong>
						  <%= @event.start_time.to_formatted_s(format = :short) %>
						</p>

						<p>
						  <strong>End time:</strong>
						  <%= @event.end_time.to_formatted_s(format = :short)  %>
						</p>

					</div>

				

				
				<%= link_to 'Back', root_path %>
					<% end %>
				
			</div>
		<div>
	</div>
</div>
