<div class="container">
	<div class="row">
		<div class = "col-md-12">
			<div class="events">
				

				<% if @event.booked = "false" %>



					<% if model_signed_in? %>
                      Welcome, <%= current_model.name %>!

                      <%= form_for (@event) do |f| %>

						<%= f.label "Book" %> : 
						<%= f.check_box :booked %>
						<% end %>

						<div id="confirmation">
						
						<h1>Booked!</h1>
						<%= button_to 'Save', reserve_event_path(@event.id), :method => :post %> 
						
						</div>



				
                      
                      <% else %>

                    <div id="signUp">
                     
                    <h1>Sign Up or Log In to Book Now!</h1>               

					<%= link_to "Sign in with Facebook", model_omniauth_authorize_path(:facebook) %> 
					Or
					<%= link_to "Sign Up", new_model_registration_path %>
					or 
					<%= link_to "Sign In", new_model_session_path %>
					</div>

					<% end %>
					

					

					


					<% end %>
					<div id="autoUpdate">

					
						<p>
						  <strong>Title:</strong>
						  <%= @event.title %>
						</p>

						<p>
						  <strong>Description:</strong>
						  <%= @event.description %>
						</p>

						<p>
						  <strong>Start time:</strong>
						  <%= @event.start_time.to_formatted_s(format = :short) %>
						</p>

						<p>
						  <strong>End time:</strong>
						  <%= @event.end_time.to_formatted_s(format = :short)  %>
						</p>

					</div>

				

				<%= link_to 'Edit', edit_event_path(@event) %> |
				<%= link_to 'Back', events_path %>
			</div>
		<div>
	</div>
</div>
