<div class="container">
	<div class="row">
		<div class = "col-md-12">
			<div class="events">
				<p id="notice"><%= notice %></p>

				<% if @event.booked = "false" %>

					<h1>Book Now!</h1>
					

					<%= form_for (@event) do |f| %>

					<%= f.label "Book" %> : 
					<%= f.check_box :booked %>
					<% end %>

					<% else %>

					<h1>Booked!</h1>


					<% end %>
					<div id="autoUpdate">
						<p>
						  <strong>Title:</strong>
						  <%= @event.title %>
						</p>

						<p>
						  <strong>Description:</strong>
						  <%= @event.description %>
						</p>

						<p>
						  <strong>Start time:</strong>
						  <%= @event.start_time.to_formatted_s(format = :short) %>
						</p>

						<p>
						  <strong>End time:</strong>
						  <%= @event.end_time.to_formatted_s(format = :short)  %>
						</p>

					</div>

					<div id="signUp">

					<% if model_signed_in? %>
                      <%= Thanks @model.first_name %>
                      <% else %>
                                    

					<%= link_to "Sign in with Facebook", model_omniauth_authorize_path(:facebook) %> 
					Or
					<%= link_to "Sign Up", new_model_registration_path %>
					or 
					<%= link_to "Sign In", new_model_session_path %>
					</div>

					<% end %>

				<%= link_to 'Edit', edit_event_path(@event) %> |
				<%= link_to 'Back', events_path %>
			</div>
		<div>
	</div>
</div>
