<!DOCTYPE html>
<html>
<head>
  <title>Swag Dog Walking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway', :media => "all" %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Dosis:300,400', :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="MY4PV8THpEkVqJs2rbrGDpuZ-z2Wv7cpnB4PvVELfPc" />
</head>

<body>
	




<%= yield %>



</body>



</html>